/* Contenedor del formulario */
/* .registerContainer {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 33%;
} */

/* Modal principal */
.modalContainer {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    z-index: 999;
  }
  
  /* Contenedor del formulario de registro */
  .registerContainer {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
    z-index: 1000; /* Más alto que el fondo de la modal */
  }
  
  /* Efecto de desenfoque */
  .blurBackground {
    filter: blur(4px);
    pointer-events: none; /* Evita la interacción con el contenido detrás */
  }
  

/* Título del formulario */
.registerContainer h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos de las etiquetas */
.registerContainer label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

/* Estilos de los campos */
.registerContainer input[type="text"],
.registerContainer input[type="email"],
.registerContainer input[type="password"],
.registerContainer input[type="number"],
.registerContainer input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.registerContainer input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

/* Mensajes de error */
.registerContainer .errorMessage {
    color: #d9534f;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Botón */
.submitButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .submitButton:enabled {
    background-color: #4caf50; /* Verde cuando está habilitado */
    color: white;
  }
  
  .submitButton:disabled {
    background-color: #ccc; /* Gris cuando está deshabilitado */
    color: #666;
    cursor: not-allowed;
  }
  

/* .registerContainer button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formContainer button:hover {
    background-color: #0056b3;
} */


/* Responsivo */
@media (max-width: 768px) {
    .registerContainer {
        padding: 15px;
    }

    .registerContainer h1 {
        font-size: 20px;
    }

    .registerContainer button {
        font-size: 14px;
    }
}
