.navbarContainer {
    display: flex;
    justify-content: space-between; /* Logo a la izquierda, botones al centro, perfil a la derecha */
    align-items: center;
    margin: -0.5rem;
    padding: 1rem; /* Espaciado interno */
    background-color: #100707c0; /* Fondo oscuro */
    color: #fff; /* Texto claro */
    position: sticky; /* Navbar fija en la parte superior */
    top: 0;
    z-index: 1000; /* Asegura que la barra quede encima */
}

/* Estilo para el logo */
/* .navbarLogo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
*/

.navbarLogo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logoImage {
    width: 6rem;  /* Tamaño del logo */
    height: auto;
    margin-left: 2rem;
    transition: box-shadow 0.3s ease;

}

/* Contenedor de los botones */
.navbarButtons {
    display: flex;
    grid-template-rows: repeat(2, 1fr);
}

/* Botones de navegación */
.navButton {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 2px 4px 8px rgba(123, 47, 120, 0.781);
    
}

.navButton:hover {
    color: #ffcc00;
    background-color: rgba(14, 228, 53, 0.315);
    border-radius: 1rem;
    transition: all 0.3s ease;
}

/* Perfil */
.navPerfil {
    font-size: 1rem;
    text-decoration: none; /* Sin subrayado */
    transition: background-color 0.3s ease;
    margin-right:  2rem;
    transition: color 0.3s ease;
}

.navPerfil h4 {
    text-align: center;
    color: azure;
    margin-top: 0%;
    
}

.navPerfil img:hover {
    color: #ffcc00;
    border-radius: 1.5rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.559);
    transition: all 0.3s ease;

}
.navPerfil h4:hover {
    color: #ffcc00;
    background-color: rgba(14, 228, 53, 0.315);
    border-radius: 1rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.559);
    transition: all 0.3s ease;

}
