.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(10, 10, 10, 0.9); /* Fondo más elegante */
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Borde sutil */
}

.navbarLogo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logoImage {
    width: 5rem;
    height: auto;
    margin-left: 1rem;
    transition: transform 0.3s ease;
}

.logoImage:hover {
    transform: scale(1.1); /* Efecto hover */
}

.navbarButtons {
    display: flex;
    gap: 1rem; /* Espaciado entre botones */
}

.navButton {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 2px 4px 8px rgba(123, 47, 120, 0.5);
}

.navButton:hover {
    color: #ffcc00;
    background-color: rgba(14, 228, 53, 0.3);
}


/* mis turnos */
.navAppoint {
    font-size: 1rem;
    text-decoration: none; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: color 0.3s ease;
}

.imgAppoint{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgAppoint:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navAppoint h4 {
    color: #fff;
    transition: color 0.3s ease;
}

.navAppoint h4:hover {
    color: #ffcc00;
}
