/* Contenedor principal para centrar el formulario */
.modalContainer {
    position: fixed; /* Fija el formulario al viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
    z-index: 999; /* Asegura que esté por encima del contenido */
}

/* Contenedor del formulario */
.loginContainer {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
    z-index: 1000; /* Más alto que el fondo de la modal */
}

/* Efecto de desenfoque para el fondo (opcional si usas CSS moderno) */
.blurBackground {
    filter: blur(4px); /* Aplica desenfoque */
    pointer-events: none; /* Evita la interacción con el contenido detrás */
}


/* Contenedor del formulario */
.loginContainer {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
    text-align: center;
    margin: 0 35%;
    z-index: 100%;
}


/* Título */
.loginContainer h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Estilos de las etiquetas */
.loginContainer label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
    text-align: left;
}

/* Campos de entrada */
.loginContainer input[type="text"],
.loginContainer input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
}

.loginContainer input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

/* Mensajes de error */
.loginContainer .errorMessage {
    color: #d9534f;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}

/* Botón */
.submitButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .submitButton:enabled {
    background-color: #4caf50; /* Verde cuando está habilitado */
    color: white;
  }
  
  .submitButton:disabled {
    background-color: #ccc; /* Gris cuando está deshabilitado */
    color: #666;
    cursor: not-allowed;
  }

/* Enlace */
.loginContainer .link {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.loginContainer .link:hover {
    text-decoration: underline;
}

/* Responsivo */
@media (max-width: 768px) {
    .loginContainer {
        padding: 15px;
    }

    .loginContainer h1 {
        font-size: 20px;
    }

    .submitButton button {
        font-size: 14px;
    }
}
